@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:wght@300;400;500&family=Sacramento&display=swap');
:root {
    --theme-color: #575757;
    --theme-bg: #F7F3F0;
    --theme-title: #8A6A5B;
    --theme-btn-bg: #D7B5A6;
    --black-color: #151515;
    --yellow-color: #F8C14D;
    --red-color: #f00;
    --light-green: #54b352;
    --font-bootstrap-icon: 'bootstrap-icons';
    --white-color: #fff;
    --gray-color: #666;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--theme-color);
    background: #fffbf8;
}

.ShowOverlayDesk {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ShowOverlayDesk::before {
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    transition: all 0.8s;
    animation: fadeIn 0.8s;
    -webkit-animation: fadeIn 0.8s;
    -moz-animation: fadeIn 0.8s;
    -o-animation: fadeIn 0.8s;
    -ms-animation: fadeIn 0.8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a,
button,
.btn {
    transition: all 0.8s;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input,
input:focus,
input:active,
select:focus,
select:active,
option:focus,
option:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
.btn:focus,
.btn:active,
.btn-primary:focus,
.btn-primary:active,
.form-control:focus,
.form-control:active {
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    margin: 0px;
    padding: 0px;
}

h1,
.h1 {
    font-size: 70px;
    line-height: 50px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

h2,
.h2 {
    font-size: 45px;
    line-height: 44px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

h3,
.h3 {
    font-size: 36px;
    line-height: 38px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

h4,
.h4 {
    font-size: 30px;
    line-height: 32px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

h5,
.h5 {
    font-size: 25px;
    line-height: 26px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

h6,
.h6 {
    font-size: 20px;
    line-height: 26px;
    color: var(--theme-title);
    font-family: 'Adamina', serif;
}

.subTitle {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #575757;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    color: var(--theme-title);
}

img {
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    max-width: 100%;
}

p a {
    color: var(--theme-title);
}

p {
    line-height: 26px;
    margin-bottom: 15px;
}

p strong {
    font-family: var(--font-medium);
}

p span {
    display: block;
}

ol li {
    list-style-type: decimal;
    padding-bottom: 10px;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

header .main-nav-top.fixedheader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    animation: slide-down 0.7s;
    -moz-animation: slide-down 0.7s;
    -webkit-animation: slide-down 0.7s;
    -o-animation: slide-down 0.7s;
    -ms-animation: slide-down 0.7s;
    border-radius: 0;
    z-index: 3;
}

.LogoBox {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

.LogoBox img {
    border-radius: 50%;
    border: 8px solid var(--white-color);
}

.navbar-brand {
    position: relative;
    z-index: 99;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    padding: 12px;
}

.scroll-top-wrapper .scroll-top-inner {
    color: var(--white-color);
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 44px;
    border: 2px solid var(--white-color);
    border-radius: 55px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-title);
}

.scroll-top-wrapper .scroll-top-inner i {
    font-size: 26px;
}

.scroll-top-wrapper:hover .scroll-top-inner {
    background: var(--black-color);
    color: var(--white-color);
    border: none;
    border: 1px solid var(--white-color);
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #949494 !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #949494 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #949494 !important;
    opacity: 1;
}

:-moz-placeholder {
    color: #949494 !important;
    opacity: 1;
}

.section-title .h1 {
    display: block;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: var(--font-medium);
    position: relative;
}

.section-title.btm-line .h1:before {
    width: 60%;
    height: 0px;
    border-bottom: 5px dotted var(--theme-background);
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    right: 0;
    margin: auto;
}

section,
footer {
    float: left;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.btn-primary {
    background: var(--theme-btn-bg);
    border: 1px solid var(--theme-btn-bg);
    border-radius: 30px;
    color: var(--white-color);
    padding: 9px 30px;
    transition: all 0.8s;
    font-size: 18px;
}

.btn-primary:focus,
.btn-primary:hover {
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--white-color);
}

.btn-secondry {
    background: var(--white-color);
    border-radius: 10px;
    color: var(--black-color);
    border: 1px solid var(--white-color);
    padding: 9px 30px;
    transition: all 0.8s;
}

.btn-secondry:focus,
.btn-secondry:hover {
    background: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
}

.HeaderNav {
    padding: 10px 0px;
}

header {
    position: absolute;
    z-index: 99;
    width: 100%;
}

header .fixedheader {
    position: fixed;
    width: 100%;
    background: var(--white-color);
    z-index: 9;
    left: 0;
    top: 0;
    box-shadow: 0 0 5px rgb(236, 236, 236, 0.5);
    animation: slide-down 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

.fixedheader .navbar-brand img {
    height: 120px;
    transition: all 0.8s;
}

.navbar.navbar-expand-lg {
    padding: 0 40px;
}

.HeaderNav.fixedheader #navbarTogglerDemo {
    margin-top: -15px;
    padding-bottom: 0px;
}

.main-nav .container {
    position: relative;
}

#navbarTogglerDemo ul {
    width: 50%;
}

.main-nav .navbar .nav-item a {
    padding: 10px 30px 5px 0px;
    display: block;
    color: var(--theme-color);
    font-weight: 300;
    font-size: 22px;
    position: relative;
}

.main-nav .navbar-nav:last-child .nav-item:last-child a {
    color: var(--white-color);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.main-nav .navbar-nav:last-child .nav-item:last-child a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
}

.main-nav .navbar-nav:last-child .nav-item:last-child a:hover::before {
    display: none;
}

.main-nav .navbar .nav-item a:hover,
.main-nav .navbar .nav-item.active a {
    color: var(--theme-btn-bg);
}

.main-nav .navbar .nav-item:last-child a:focus {
    color: var(--white-color) !important;
    background: var(--theme-btn-bg);
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0;
    min-width: 200px;
    max-width: 300px;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.8s;
    animation: 0.8s slide-up;
    background: var(--white-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid var(--gray-color);
    background: var(--white-color);
    position: relative;
}

@keyframes slide-up {
    from {
        margin-top: 10%;
        height: 100%;
    }
    to {
        margin-top: 0%;
        height: 100%;
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu li:last-child a {
    border-bottom: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li:first-child a {
    border-radius: 5px 5px 0 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu li:last-child a {
    border-radius: 0 0 5px 5px;
}

.navbar-nav>.dropdown>a::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: .255em;
    content: "";
    position: relative;
    top: 2px;
    border: solid var(--black-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main_slider {
    padding: 70px 0 0px 0;
}

.main_slider .carousel-caption {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 40px;
    max-width: 100%;
    width: 100%;
    z-index: 9;
}

#slider .container {
    position: relative;
}

#slider .TxtBox {
    text-align: center;
    position: relative;
    width: 100%;
}

#slider .item {
    padding: 22% 0;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

#slider .item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#slider .item.FirstBox::after {
    display: none;
}

#slider .innerBanner .item.FirstBox::after {
    display: block;
}

#slider .TxtBox .h1 {
    color: var(--white-color);
    font-size: 80px;
    padding: 0px 0 40px;
    line-height: 60px;
}

#slider .TxtBox h4 {
    color: var(--black-color);
    font-size: 26px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#slider .TxtBox h6 {
    color: #F7F3F0;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-top: 8px;
    position: relative;
    display: inline-block;
    padding: 0 0px 20px 0;
}

#slider .TxtBox p {
    color: #F7F3F0;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#slider .TxtBox a {
    min-width: 250px;
    font-size: 20px;
    margin: 0 5px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    background: transparent;
}

#slider .TxtBox a:hover {
    background: var(--black-color);
}

.navbar-brand,
.navbar-brand img {
    transition: all 0.8s;
}

.FtSocial a,
.main-nav .navbar-nav.HeaderLeft .nav-item a {
    padding: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #D7B5A6;
    color: var(--white-color);
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
}

.FtSocial a:hover,
.main-nav .navbar-nav.HeaderLeft .nav-item a:hover {
    background-color: var(--black-color);
}

.FtSocial a img,
.main-nav .navbar-nav.HeaderLeft .nav-item a img {
    width: 18px;
    margin-top: -2px;
}

#slider .owl-dots button {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--theme-bg);
    position: relative;
    margin: 0 3px;
    padding: 0;
    /*transition:all 0.4s;*/
}

#slider .owl-dots button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
}

#slider .owl-dots button.active {
    width: 75px;
    height: 75px;
    border: 2px solid var(--theme-btn-bg);
}

#slider .owl-dots button span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: none;
    position: absolute;
    font-size: 0;
}

#slider .owl-dots {
    margin-top: -35px;
    position: relative;
    z-index: 9;
}


/* --------- Home About css ------- */

#HomeAbout {
    margin-top: 30px;
}

.HmAboutLeft {
    padding-left: 25px;
    position: relative;
}

.HmAboutLeft figure {
    position: relative;
}

.HmAboutLeft figure:nth-child(1) img {
    border-radius: 15px;
    background: var(--theme-btn-bg);
    position: relative;
}

.HmAboutLeft figure:nth-child(1)::before {
    content: '';
    top: -15px;
    left: -15px;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    background: var(--theme-btn-bg);
    position: absolute;
}

.HmAboutLeft figure:nth-child(1)::after {
    content: '';
    left: 17%;
    bottom: -75px;
    width: 60%;
    height: 70%;
    border-radius: 50%;
    opacity: 0.15;
    background: var(--white-color);
    border: 20px solid var(--theme-btn-bg);
    position: absolute;
    z-index: -1;
}

.HmAboutLeft figure:nth-child(2) {
    border-radius: 15px;
    border: 15px solid var(--theme-bg);
    position: absolute;
    bottom: -140px;
    right: -70px;
    width: 50%;
    background: var(--theme-bg);
}

.HmAboutLeft figure:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.AbBottomTxt {
    padding-right: 30px;
}

.AbBottomTxt ul {
    margin-top: 70px;
    margin-left: 80px;
}

.AbBottomTxt ul li {
    padding-bottom: 10px;
    padding-left: 0px;
}

.AboutCustom h6 {
    color: var(--black-color);
}

.AboutCustom h6 img {
    margin-right: 15px;
}

.AbBottomTxt p {
    font-size: 16px;
    color: var(--gray-txt);
}

.AbBottomTxt strong {
    font-size: 18px;
    display: block;
    font-weight: 500;
    padding: 25px 0;
}

.HomeAbpara {
    position: relative;
    padding-left: 20px;
}

.HomeAbpara::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--theme-btn-bg);
}

.Abouttell {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.Abouttell .bi-telephone {
    display: flex;
    width: 55px;
    height: 55px;
    border: 1px solid var(--yellow-color);
    border-radius: 50%;
    color: var(--yellow-color);
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 15px;
}

.Abouttell .bi-telephone:hover {
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.Abouttell p a {
    font-size: 20px;
    color: var(--yellow-color);
}


/* ------------ home Services css ------------ */

.ServicesSection figure {
    position: relative;
    padding: 50px 0;
}

.ServicesSection figure::before {
    position: absolute;
    margin-top: -50px;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    content: '';
    background: var(--theme-bg);
    border-radius: 15px;
    z-index: -1;
}

.serviceTxt {
    position: relative;
    padding-left: 30px;
}

.serviceTxt h3 {
    padding-bottom: 20px;
}

.serviceTxt h5 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--theme-btn-bg);
    transform: rotate(270deg);
    position: absolute;
    top: 50px;
    left: -50px;
    text-transform: uppercase;
}

.flex-row-reverse .serviceTxt {
    padding-left: 50px;
}

.flex-row-reverse .serviceTxt h5 {
    left: 5px;
    top: 15px;
}

.serviceTxt a {
    font-size: 14px;
    color: var(--theme-title);
    position: relative;
}

.serviceTxt a:hover,
.serviceTxt a::after {
    color: var(--black-color);
}

.serviceTxt a::after {
    font-size: 14px;
    color: var(--theme-title);
    position: relative;
    background: var(--theme-bg);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -5px;
    content: '';
    z-index: -1;
    transition: all 0.8s;
}

.serviceTxt a:hover {
    color: var(--black-color);
}

.serviceTxt a:hover::after {
    background: var(--theme-btn-bg);
}


/* ------------ Home Gallery css ------------ */

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.thumb {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    border-radius: 5px 20px;
    border-radius: 15px;
    background: var(--theme-bg);
}

.thumb:hover {
    background: var(--theme-btn-bg);
}

.thumb img {
    border-radius: 15px;
    transition: all 0.8s;
}

.thumb:hover img {
    border-radius: 15px;
    transform: scale(1.03);
}

.page-top {
    margin-top: 25px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    box-shadow: 0 0 1px var(--theme-light-color);
    border-radius: 20px 5px;
}

.thumb:hover img.zoom {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}

.lightboxed--thumb_border img {
    border: 2px solid var(--theme-title);
    border-radius: 5px;
}

.lightboxed--active .lightboxed--thumb_border img {
    border: 2px solid var(--theme-bg);
}

div#lightboxed--thumbs .lightboxed--thumb {
    width: 70px !important;
    height: 70px !important;
}

div#lightboxed--thumbs {
    bottom: 30px;
    width: 100% !important;
    display: flex !important;
    justify-content: center;
}


/* ------------ Home Blog css ------------ */

.BlogBoxes {
    background: #f9f8f8 url(../images/blog_bg.png) left top no-repeat;
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 20px;
    display: flex;
}

.BlogBoxes a {
    width: 100%;
    height: 100%;
    display: flex;
}

.BlogBoxes:hover .BlogPic img {
    transform: scale(1.1);
}

.BlogBoxes:hover .BlogPic {
    box-shadow: 0 0 8px var(--theme-btn-bg);
}

.BlogBoxes:hover h5 {
    color: var(--black-color);
}

.BlogPic {
    margin-bottom: 0;
    width: 400px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 8px transparent;
}

.BlogPic img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.BlogRight {
    padding-left: 30px;
}

.BlogRight small {
    font-size: 14px;
    color: var(--black-color);
}

.BlogRight h5 {
    font-size: 22px;
    padding: 10px 0 20px;
    line-height: 30px;
}

.BlogRight p {
    color: var(--theme-color);
}


/* ------------ Home Contact css ------------ */

.ContactWrapper {
    background: url(../images/footer_bg.png) left top no-repeat;
    padding: 80px 0;
}

.ContRight {
    background: #fffbf8;
    border-radius: 30px;
    padding: 40px;
    margin-left: -140px;
    position: relative;
}

.ContRight input,
.ContactRight input,
.ContactRight textarea,
.ContRight textarea {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    background: #fffbf8;
    border-bottom: 1px solid var(--theme-btn-bg);
}

.ContRight input:focus,
.ContRight textarea:focus,
.ContactRight input:focus,
.ContactRight textarea:focus {
    border-bottom: 1px solid var(--black-color);
}

.form-control::placeholder,
textarea::placeholder,
input::placeholder {
    opacity: 1 !important;
    color: var(--black-color) !important;
}

.ContRight h3 {
    color: var(--black-color);
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ContRight .btn.btn-primary,
.ContactRight .btn.btn-primary {
    width: 200px;
    border: 1px solid var(--theme-btn-bg);
    background: var(--theme-btn-bg);
}

.ContRight .btn.btn-primary:hover,
.ContactRight .btn.btn-primary:hover {
    border: 1px solid var(--theme-title);
}


/* ------------ Contact us css ------------ */

#slider .innerBanner .item {
    padding: 10% 0;
}

.main_slider .innerBanner .carousel-caption {
    top: 55%;
}

#slider .innerBanner .TxtBox .h1 {
    font-size: 60px;
}

.ContactRight {
    background: var(--theme-bg);
    padding: 40px;
    border-radius: 30px;
}

.ContactRight input,
.ContactRight textarea {
    background: transparent;
    transition: all 0.8s;
}

.ContactRight .btn.btn-primary {
    background: var(--theme-btn-bg);
}

.ContactRight .btn.btn-primary:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.ContactLeft a {
    color: var(--black-color);
    display: flex;
    align-items: center;
}

.ContactLeft li {
    font-size: 22px;
    display: flex;
    align-items: center;
    color: var(--black-color);
    border-radius: 10px;
    border: 2px solid var(--theme-bg);
    padding: 20px;
    margin-bottom: 15px;
    transition: all 0.7s;
}

.ContactLeft li:hover {
    background: var(--theme-bg);
}

.ContactLeft li .bi {
    color: var(--theme-title);
    font-size: 40px;
    margin-right: 15px;
}


/* ------------ Service css ------------ */

.TitleStyle span {
    position: relative;
    padding: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.TitleStyle span::before {
    position: absolute;
    width: 60%;
    height: 3px;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    border-radius: 8px;
    background: linear-gradient(to right, #866454, #D5AF9D, #866454);
}

.TitleStyle.TitleCenter span::before {
    left: 15%;
    width: 70%;
}

.ServicePic img {
    border-radius: 20px;
}

.PagiNav {
    margin-top: 30px;
}

.PagiNav li a {
    color: var(--theme-title);
    font-size: 20px;
    padding: 6px 18px;
}

.PagiNav li.active a {
    background: var(--theme-btn-bg);
    border-color: var(--theme-btn-bg);
}

.PagiNav li a:focus {
    box-shadow: none;
    background: var(--white-color);
    color: var(--theme-title);
}

.PagiNav li.disabled {
    cursor: no-drop;
    opacity: 0.8;
}

.DetailPic {
    position: relative;
}

.DetailPic::before {
    position: absolute;
    width: 90%;
    height: 60px;
    bottom: -30px;
    background: #F2F2F2;
    content: '';
    left: 5%;
    z-index: -1;
    border-radius: 100px 100px 0 0;
}

.DetailPic img {
    border-radius: 15px;
    width: 100%;
}

#ServiceDetail .serviceTxt {
    padding-left: 0;
}

.ListBox {
    display: flex;
    flex-wrap: wrap;
}

.ListBox li {
    position: relative;
    padding: 0 2% 15px 15px;
    width: 48%;
    display: flex;
}

.ListBox li::before {
    position: relative;
    content: '\F271';
    color: var(--theme-btn-bg);
    font-family: var(--font-bootstrap-icon);
    font-size: 20px;
    top: 0px;
    left: -15px;
}


/* ------------ Gallery css ------------ */

.GallerPage .thumb:hover img {
    transform: scale(1.2);
}

.GallerPage .thumb {
    width: 100%;
    height: 300px;
}

.GallerPage .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#lightboxed--thumbs .lightboxed--thumb img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}


/* ------------ glog css ------------ */

.ViewDtlBlog {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: #d7b5a6c7;
    left: 0;
    top: 0;
    border-radius: 15px;
    transition: all 0.8s;
}

.BlogBoxes:hover .ViewDtlBlog {
    opacity: 1;
}

.BlogInfo {
    width: 80%;
    background: var(--white-color);
    margin: -50px auto 0;
    padding: 15px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.BlogInfo b {
    font-weight: 500;
    color: var(--theme-title);
    padding-left: 10px;
}

.BlogInfo .bi {
    font-size: 20px;
}

.DetailPicBox figure {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.DetailPicBox img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


/* ------------ Footer css ------------ */

#footer {
    background: var(--black-color);
}

#footer p {
    color: var(--white-color);
}

#footer .ftr-hdng {
    color: var(--white-color);
    margin-bottom: 20px;
    position: relative;
    font-weight: 400;
    font-size: 26px;
}

.FooteNav li a,
.FooteNav li {
    width: 100%;
    padding: 5px 0;
    color: var(--white-color);
    font-weight: 400;
}

.FooteNav.MidNav {
    column-count: 2;
}

.MidNav a {
    position: relative;
}

.MidNav a::before {
    position: absolute;
    content: '\F26F';
    left: 0;
    top: 4px;
    font-family: var(--font-bootstrap-icon);
    font-size: 18px;
    color: var(--white-color);
    transition: all 0.8s;
}

.FooteNav a:hover,
.FooteNav a:hover::before {
    color: var(--theme-btn-bg) !important;
}

.FooteNav li i {
    padding-right: 10px;
    padding-top: 3px;
    font-size: 25px;
    position: relative;
    top: 4px;
}

#footer p .bi {
    padding-right: 10px;
    float: left;
    padding-bottom: 25px;
    padding-top: 3px;
}

.footer-about ul li a {
    padding-bottom: 0px;
    padding-left: 30px;
}

.footer-about ul li.current_page_item a,
.footer-about ul li a:hover {
    padding-bottom: 0px;
}

#footer li a:hover {
    color: var(--white-color);
}

.FtSocial a:hover {
    background: var(--theme-title);
}

#footer .copyright p {
    color: var(--white-color);
    background: var(--theme-title);
    padding: 10px;
    font-size: 14px;
}

.footerLast p {
    font-size: 20px;
    opacity: 0.6;
}

.FooteNav li {
    display: flex;
}

.copyright p a {
    color: var(--white-color);
}