.SocisForMob {
    display: none !important;
}

@media screen and (max-width:1399.99px) {
    .main-nav .navbar .nav-item a {
        padding: 10px 20px 5px 0px;
        font-size: 20px;
    }
    #slider .innerBanner .item {
        padding: 14% 0;
    }
    .GallerPage .thumb {
        height: 250px;
    }
}

@media screen and (max-width:1199.99px) {
    .LogoBox img {
        width: 110px;
    }
    .LogoBox {
        left: -50px;
    }
    #slider .TxtBox .h1 {
        font-size: 50px;
    }
    #slider .TxtBox .h1 {
        padding-bottom: 10px;
    }
    .main_slider .carousel-caption {
        top: 15%;
    }
    h3,
    .h3 {
        font-size: 28px;
    }
    .HmAboutLeft figure:nth-child(2) {
        right: 0;
    }
    .AbBottomTxt ul {
        margin-top: 40px;
        margin-left: 21px;
    }
    .navbar.navbar-expand-lg {
        padding: 0 20px;
    }
    .fixedheader .navbar-brand img {
        height: 100px;
        width: auto;
    }
    #slider .TxtBox h6 {
        padding-bottom: 0;
    }
}

@media screen and (max-width:991px) {
    .ShowOverlay {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    .ShowOverlay::before {
        width: 100%;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 9;
        animation: fadeIn 0.8s;
        -webkit-animation: fadeIn 0.8s;
        -moz-animation: fadeIn 0.8s;
        -o-animation: fadeIn 0.8s;
        -ms-animation: fadeIn 0.8s;
    }
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: none;
    }
    .navbar-nav>.dropdown>a::after {
        position: absolute;
        right: 18px;
        top: 17px;
    }
    .nav-item.dropdown.open .dropdown-menu {
        display: block;
    }
    .main-nav .container,
    .navbar {
        position: inherit;
    }
    section,
    footer {
        padding: 30px 0;
    }
    .main-nav .navbar-toggler {
        padding: 0;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .navbar-toggler-icon {
        position: relative;
    }
    header .fixednav {
        padding: 10px !important;
    }
    .navbar-nav {
        text-align: left !important;
    }
    header .fixedheader {
        width: 100%;
        left: 0;
    }
    .navbar-toggler-icon .bi.bi-list {
        color: var(--theme-color);
        font-size: 35px;
    }
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu li a {
        padding-left: 25px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        border: none;
        border-radius: 0;
        margin-left: 2px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu li a,
    .main-nav .navbar .nav-item .nav-link {
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu li:first-child a,
    .navbar-expand-lg .navbar-nav .dropdown-menu li:last-child a {
        border-radius: 0;
        border-bottom: 1px solid #ccc;
    }
    #navbarTogglerDemo {
        height: 100vh;
        overflow: auto;
        width: 350px;
        position: absolute;
        top: -2px;
        right: -355px;
        background: var(--black-color);
        z-index: 99;
        transition: all 0.4s;
        padding: 20px;
    }
    #navbarTogglerDemo.shownav {
        right: 0px;
    }
    #navbarTogglerDemo .CloseIcon {
        position: relative;
        padding: 10px 0;
        left: 90%;
        top: 0;
    }
    #navbarTogglerDemo ul {
        width: 100%;
    }
    .navbar.navbar-expand-lg.navbar-dark .MobLogo {
        width: 150px;
        margin: 0 auto;
    }
    .HeaderNav {
        padding: 0;
    }
    .HeaderNav.fixedheader {
        padding: 15px 15px 20px;
        min-height: 70px;
    }
    #navbarTogglerDemo ul {
        margin-bottom: 0;
    }
    .main_slider .carousel-caption {
        top: 20%;
        padding: 0;
    }
    #slider .item {
        padding: 30% 0;
    }
    #ShowNav,
    #ShowNav:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
    #HideNav .bi {
        color: var(--red-color);
    }
    #slider .TxtBox .h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .main_slider .carousel-arrow {
        bottom: 30px;
    }
    .main_slider .carousel-arrow {
        bottom: 30px;
        left: 30px;
    }
    .main_slider .carousel-arrow.carousel-control-next {
        left: 95px;
    }
    .main_slider .carousel-arrow {
        width: 40px;
        height: 40px;
    }
    .main_slider .carousel-arrow .bi {
        font-size: 20px;
    }
    .HideTitle {
        font-size: 70px;
    }
    #slider .TxtBox h6 {
        font-size: 20px;
    }
    header {
        padding: 10px 0;
    }
    #ShowNav .bi {
        color: var(--theme-title);
        font-size: 35px;
    }
    #slider.innerBanner .TxtBox {
        max-width: 400px;
    }
    #slider .TxtBox {
        width: 90%;
        margin: 0 auto;
    }
    /* other css */
    .LogoBox {
        text-align: left;
        left: 0;
    }
    .FooterFirst {
        margin-bottom: 40px !important;
    }
    .main-nav .navbar .nav-item a {
        color: var(--white-color);
    }
    .main-nav .navbar-nav:last-child .nav-item:last-child a {
        margin-top: 20px;
    }
    .HeaderLeft.SocisForMob {
        display: flex !important;
        justify-content: end;
        align-items: end;
        position: relative;
        top: 5px;
        right: 60px;
    }
    .HeaderLeft.SocisForMob a {
        padding: 0;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background-color: #D7B5A6;
        color: var(--white-color);
        border-radius: 10px;
        text-align: center;
        margin-right: 10px;
        font-size: 20px;
    }
    .HeaderLeft.SocisForMob a:hover {
        background-color: var(--black-color);
    }
    #navbarTogglerDemo .HeaderLeft {
        display: none !important;
    }
    .main-nav .navbar-nav:last-child .nav-item:last-child a:hover {
        border: 1px solid var(--theme-title);
    }
    .HmAboutLeft figure:nth-child(2) {
        width: 35%;
        bottom: -90px;
    }
    .AbBottomTxt {
        margin-top: 40px;
        padding-right: 0;
    }
    body {
        overflow-x: hidden;
    }
    #slider .innerBanner .item {
        padding: 20% 0;
    }
    #slider .innerBanner .TxtBox .h1 {
        font-size: 40px;
    }
    .ContactRight {
        margin-top: 20px;
    }
    #ServiceDetail h4 {
        margin-top: 50px;
    }
    div#lightboxed--thumbs {
        bottom: 10%;
        display: inline-block !important;
        white-space: nowrap;
        overflow: auto;
    }
    div#lightboxed--thumbs .lightboxed--thumb {
        float: none;
        display: inline-block;
        padding: 0 !important;
        height: 60px !important;
        margin: 0 5px !important;
    }
    div#lightboxed--thumbs .lightboxed--thumb img {
        height: 60px;
    }
}

@media screen and (max-width:767px) {
    .ContRight {
        margin-left: 0;
    }
    .ContactWrapper {
        background-size: cover;
    }
    #slider .TxtBox p {
        display: none;
    }
    #slider .TxtBox .h1 {
        padding-bottom: 25px;
    }
    .AbBottomTxt {
        margin-top: 70px;
    }
    .mt-5 {
        margin-top: 2rem !important;
    }
    .ServicesSection figure {
        margin-top: 15px;
    }
    #slider .item {
        padding: 40% 0;
    }
    .ContRight h3 {
        font-size: 25px;
    }
    .flex-row-reverse .serviceTxt {
        padding-left: 30px;
    }
    .flex-row-reverse .serviceTxt h5 {
        left: -15px;
    }
    .ListBox li {
        padding: 0 0 15px 15px;
        width: 100%;
        display: flex;
    }
}

@media screen and (max-width:575px) {
    #slider .TxtBox .h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
    #slider .TxtBox h6 {
        margin-bottom: 10px;
    }
    .LogoBox img {
        width: 90px;
    }
    .fixedheader .navbar-brand img {
        height: 80px;
        width: auto;
    }
    #slider .item {
        padding: 50% 0;
    }
    #slider .innerBanner .item {
        padding: 25% 0;
    }
    #slider .innerBanner .TxtBox .h1 {
        font-size: 30px;
    }
    .ContactLeft li {
        font-size: 18px;
    }
    .ContactLeft li .bi {
        font-size: 25px;
    }
}

@media screen and (max-width:479px) {
    .BlogBoxes {
        background-size: cover;
    }
}

@media screen and (max-width:375px) {
    .BlogRight h5 {
        font-size: 18px;
        padding: 10px 0 20px;
        line-height: 24px;
    }
}